{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div id="intro" class="w3-display-container">
		<img src="images/wallp.jpg" alt="Lights" class="w3-image"   style="max-height: 100vh;width: 100%">
		<div class="w3-center w3-display-middle">
			<p class="w3-normal w3-large" style="text-shadow:1px 1px 0 #444">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<a id="arrow" class="w3-display-bottomright myblue w3-padding-64" style="margin-right:45px;" onclick="scrollToTrick()">
			<i class="fa fa-arrow-down w3-xxlarge" aria-hidden="true"></i>
		</a>
	</div>

	<div class="w3-row-padding w3-margin-top" id="trick">
		{% for trick in tricks|slice(0, 13) %}
			<div class="w3-third w3-margin-bottom">
				<div class="w3-card">
					<img class="w3-image" src="images/tricks/ZYdken1.jpg">
					<div class="w3-container w3-padding">
						<a href="{{ relative_path('/trick/details/' ~ trick.title) }}">{{ trick.title }}</a>
						<div class="w3-right">
							<a href="#">
								<i class="fa fa-pencil w3-margin-right" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="w3-hide" id="more">
			{% for trick in tricks|slice(14, tricks|length) %}
				<div class="w3-third w3-margin-bottom" style="padding: 0 8px;">
					<div class="w3-card">
						<a href="{{ relative_path('/trick/details/' ~ trick.title) }}"><img src="images/tricks/ZYdken1.jpg" style="width:100%"></a>
						<div class="w3-container w3-padding">
							<a href="">{{ trick.title }}</a>
							<div class="w3-right">
								<a href="#">
									<i class="fa fa-pencil w3-margin-right" aria-hidden="true"></i>
								</a>
								<a href="#">
									<i class="fa fa-trash" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<a id="arrowup" class="w3-right w3-hide myblue" onclick="scrollToTrick()">
			<i class="fa fa-arrow-up w3-xxlarge" aria-hidden="true"></i>
		</a>
	</div>
	{% if tricks|length > 15 %}
		<div class="w3-center">
			<button class="w3-btn w3-blue">Afficher plus</button>
		</div>
		<div class="w3-center w3-padding w3-margin">
			<button class="w3-btn w3-blue w3-center w3-round" id="showmore">Afficher plus</button>
		</div>
	{% endif %}
{% endblock %}
