<h3>Vous avez demandé a changer votre mot de passe ?</h3>

<p>voici le lien pour le modifier</p>
<br>
<a href="{{ absolute_url(path('password_reset', {token:token} )) }}">Mettre a jour votre mot de passe</a>
