{% extends 'private.html.twig' %}

{% block title %}- Edit Trick{% endblock %}

{% block body %}
    <div style="margin-top: 150px">
        <h1>Edit Trick</h1>
        {{ include('trick/_form.html.twig') }}
    </div>
{% endblock %}
